@page "/"

<h1>CT1 Group Project</h1>
<p><h3>Welcome to our introductory Web Application!</h3></p>
<h5>Client Side</h5>
<p>We're using C# and Razor on the front-end. Razor is HTML with some C# sprinkled in and rendered dynamically.</p>
<h5>Server Side</h5>
<p>C# only on the back-end.</p>
<h5>Database</h5>
<p>We're running a SQL Database in Azure using Azure Data Studio from the desktop.</p>
<h5>Application Architecture</h5>
<p>This is an ASP.NET Core MVC app. Anything more will require a whiteboard.</p>
<h5>Blazor</h5>
<p>
    <div>
        Blazor is a new web techology from the .NET team at Microsoft using Web Assembly to render C# in the browser.
        It's still an early release and not in full production yet.
    </div>
</p>
<p>Welcome to the bleeding edge...</p>

<p>-CT1 Team</p>

