@inherits BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://military.microsoft.com/programs/mssa/" target="_blank" class="ml-md-auto">MSSA About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
